# tushare for python2

In [1]:
import tushare as ts

In [2]:
import pandas as pd

- 历史行情数据
- 复权历史数据
- 实时行情数据
- 历史分笔数据
- 实时报价数据
- 当日历史分笔
- 大盘指数列表
- 大单交易数据

In [ ]:
#获取2014年第3季度的盈利能力数据
ts.get_profit_data(2018,1)

In [ ]:
#获取2014年第3季度的营运能力数据
ts.get_operation_data(2018,1)

In [ ]:
#获取2014年第3季度的成长能力数据
ts.get_growth_data(2018,1)

In [ ]:
#获取2014年第3季度的偿债能力数据
ts.get_debtpaying_data(2018,1)

In [ ]:
#获取2014年第3季度的现金流量数据
ts.get_cashflow_data(2018,1)

# 获取行业分类信息

In [20]:
# ts.get_industry_classified()

# 基本统计

In [5]:
all_basics = ts.get_stock_basics()

# [python dataframe基本操作](https://www.cnblogs.com/zuizui1204/p/6423069.html)

# 一、查看数据

In [30]:
all_basics.head(3)

,name,industry,area,pe,outstanding,totals,totalAssets,liquidAssets,fixedAssets,reserved,...,bvps,pb,timeToMarket,undp,perundp,rev,profit,gpr,npr,holders
code,,,,,,,,,,,,,,,,,,,,,
601162,N天风,证券,湖北,37.97,5.18,51.80,5353962.50,0.00,14892.90,411327.72,...,2.47,1.04,20181019,191713.86,0.37,0.00,0.00,0.00,13.28,462916.0
600077,宋都股份,全国地产,浙江,14.37,13.40,13.40,2195440.25,1905124.75,5696.47,40707.21,...,2.86,0.87,19970520,189799.92,1.42,74.90,623.43,45.07,9.74,33639.0
000416,民生控股,多元金融,山东,192.27,5.32,5.32,89971.36,72549.88,3868.16,2809.50,...,1.61,2.16,19960719,24942.03,0.47,61.01,-66.57,98.86,74.72,37198.0

In [29]:
all_basics.tail(3)

,name,industry,area,pe,outstanding,totals,totalAssets,liquidAssets,fixedAssets,reserved,...,bvps,pb,timeToMarket,undp,perundp,rev,profit,gpr,npr,holders
code,,,,,,,,,,,,,,,,,,,,,
002941,新疆交建,建筑施工,新疆,0.0,0.0,0.0,964207.63,784070.88,33995.96,36995.84,...,0.0,0.0,0,65454.41,0.0,0.0,0.0,12.92,13.18,0.0
002940,昂利康,化学制药,浙江,0.0,0.0,0.0,86515.84,51080.90,23359.92,9281.17,...,0.0,0.0,0,23480.82,0.0,0.0,0.0,68.72,13.77,0.0
002939,长城证券,证券,深圳,0.0,0.0,0.0,5182155.50,0.00,16238.15,767217.69,...,0.0,0.0,0,226050.66,0.0,0.0,0.0,0.00,22.71,0.0

In [9]:
all_basics.index

Index([u'601162', u'600077', u'000416', u'002481', u'600355', u'300310',
       u'600172', u'600816', u'002581', u'603528',
       ...
       u'002197', u'000757', u'002070', u'000693', u'600680', u'600401',
       u'300674', u'002941', u'002940', u'002939'],
      dtype='object', name=u'code', length=3558)

In [10]:
all_basics.columns

Index([u'name', u'industry', u'area', u'pe', u'outstanding', u'totals',
       u'totalAssets', u'liquidAssets', u'fixedAssets', u'reserved',
       u'reservedPerShare', u'esp', u'bvps', u'pb', u'timeToMarket', u'undp',
       u'perundp', u'rev', u'profit', u'gpr', u'npr', u'holders'],
      dtype='object')

In [28]:
# all_basics.values

In [12]:
all_basics.describe()

,pe,outstanding,totals,totalAssets,liquidAssets,fixedAssets,reserved,reservedPerShare,esp,bvps,pb,timeToMarket,undp,perundp,rev,profit,gpr,npr,holders
count,3558.000000,3558.000000,3558.000000,3.558000e+03,3.558000e+03,3.558000e+03,3.558000e+03,3558.000000,3558.000000,3558.000000,3558.000000,3.558000e+03,3.558000e+03,3558.000000,3558.000000,3558.000000,3558.000000,3558.000000,3.558000e+03
mean,55.291239,13.548227,18.114005,6.526792e+06,9.025744e+05,3.778304e+05,2.434072e+05,1.923814,0.218060,4.651554,2.979334,2.005246e+07,3.697049e+05,1.468184,115.236925,33.297906,29.375107,-7.194132,5.108444e+04
std,196.940640,85.499756,116.274941,8.485605e+07,4.721325e+06,2.222749e+06,8.554147e+05,1.735020,0.390341,3.169313,14.789822,6.775086e+05,3.349453e+06,2.058579,5175.287076,935.237037,22.550302,545.749975,7.071980e+04
min,0.000000,0.000000,0.000000,4.977680e+03,0.000000e+00,0.000000e+00,-1.691403e+05,-1.180000,-4.500000,-2.850000,-295.730000,0.000000e+00,-2.515507e+06,-6.940000,-100.200000,-20973.610000,-603.110000,-24623.890000,0.000000e+00
25%,12.530000,1.820000,2.960000,1.765048e+05,8.865404e+04,1.911998e+04,3.114122e+04,0.720000,0.050000,2.730000,1.240000,2.000062e+07,2.234213e+04,0.590000,0.015000,-18.665000,16.710000,2.895000,1.823225e+04
50%,22.735000,4.535000,5.955000,3.985918e+05,2.012555e+05,5.237909e+04,7.889818e+04,1.520000,0.144000,4.070000,1.900000,2.010042e+07,5.423519e+04,1.160000,13.070000,12.195000,26.750000,7.710000,3.131400e+04
75%,42.035000,9.697500,12.147500,1.034244e+06,4.742302e+05,1.553922e+05,1.812831e+05,2.590000,0.300000,5.800000,2.960000,2.015042e+07,1.446012e+05,2.050000,31.075000,47.222500,39.027500,14.437500,5.687925e+04
max,6585.240000,2940.550000,3564.060000,2.730308e+09,1.310110e+08,6.759950e+07,1.735730e+07,15.300000,12.549000,74.350000,487.400000,2.018102e+07,1.115199e+08,61.200000,308581.280000,30327.280000,98.860000,1481.300000,1.392586e+06

In [27]:
all_basics.T.head(3)

code,601162,600077,000416,002481,600355,300310,600172,600816,002581,603528,...,002197,000757,002070,000693,600680,600401,300674,002941,002940,002939
name,N天风,宋都股份,民生控股,双塔食品,精伦电子,宜通世纪,黄河旋风,安信信托,未名医药,多伦科技,...,证通电子,浩物股份,*ST众和,*ST华泽,*ST上普,*ST海润,宇信科技,新疆交建,昂利康,长城证券
industry,证券,全国地产,多元金融,食品,元器件,通信设备,矿物制品,多元金融,生物制药,软件服务,...,电器仪表,汽车配件,纺织,小金属,通信设备,半导体,软件服务,建筑施工,化学制药,证券
area,湖北,浙江,山东,山东,湖北,广东,河南,上海,山东,江苏,...,深圳,四川,福建,四川,上海,江苏,北京,新疆,浙江,深圳

In [26]:
# 按frame的行索引进行排序
all_basics.sort_index(axis=0,ascending=True).head(3)

,name,industry,area,pe,outstanding,totals,totalAssets,liquidAssets,fixedAssets,reserved,...,bvps,pb,timeToMarket,undp,perundp,rev,profit,gpr,npr,holders
code,,,,,,,,,,,,,,,,,,,,,
000001,平安银行,银行,深圳,6.91,171.70,171.70,336739936.0,0.000000e+00,853046.69,5646478.00,...,12.13,0.89,19910403,8489014.00,4.94,7.78,6.52,0.00,23.36,435978.0
000002,万 科Ａ,全国地产,深圳,13.04,97.15,110.39,134515168.0,1.144791e+08,887655.81,860397.50,...,12.22,1.76,19910129,7895710.50,7.15,51.80,24.94,34.44,8.61,282203.0
000004,国农科技,生物制药,深圳,336.53,0.83,0.84,32035.1,1.905785e+04,2974.78,93.87,...,1.57,10.14,19910114,3566.48,0.42,427.49,152.59,81.94,1.28,9382.0

In [25]:
all_basics.sort_values(by='pe',ascending=False).head(3)

,name,industry,area,pe,outstanding,totals,totalAssets,liquidAssets,fixedAssets,reserved,...,bvps,pb,timeToMarket,undp,perundp,rev,profit,gpr,npr,holders
code,,,,,,,,,,,,,,,,,,,,,
300359,全通教育,文教休闲,广东,6585.24,4.26,6.33,270236.56,84134.11,4453.00,106031.72,...,3.21,1.80,20140121,31584.77,0.50,-32.95,101.56,31.91,0.09,57329.0
002835,同为股份,元器件,深圳,3016.66,0.85,2.16,77903.22,51992.30,22215.32,17764.15,...,2.98,2.52,20161228,22106.01,1.02,9.35,-98.35,24.24,0.10,16778.0
600207,安彩高科,元器件,河南,2952.00,6.90,8.63,220998.38,102420.00,67457.46,288135.69,...,2.21,1.92,19990714,-223035.42,-2.58,24.04,104.16,9.07,0.05,57133.0

# 二、选择对象

In [23]:
# 取行数据，通过切片[]来选择
all_basics[0:3]

,name,industry,area,pe,outstanding,totals,totalAssets,liquidAssets,fixedAssets,reserved,...,bvps,pb,timeToMarket,undp,perundp,rev,profit,gpr,npr,holders
code,,,,,,,,,,,,,,,,,,,,,
601162,N天风,证券,湖北,37.97,5.18,51.80,5353962.50,0.00,14892.90,411327.72,...,2.47,1.04,20181019,191713.86,0.37,0.00,0.00,0.00,13.28,462916.0
600077,宋都股份,全国地产,浙江,14.37,13.40,13.40,2195440.25,1905124.75,5696.47,40707.21,...,2.86,0.87,19970520,189799.92,1.42,74.90,623.43,45.07,9.74,33639.0
000416,民生控股,多元金融,山东,192.27,5.32,5.32,89971.36,72549.88,3868.16,2809.50,...,1.61,2.16,19960719,24942.03,0.47,61.01,-66.57,98.86,74.72,37198.0

In [31]:
# a['x'] 那么将会返回columns为x的列，注意这种方式一次只能返回一个列。a.x与a['x']意思一样。
all_basics['name'][1:3]

code
600077    宋都股份
000416    民生控股
Name: name, dtype: object

In [32]:
all_basics.name[1:3]

code
600077    宋都股份
000416    民生控股
Name: name, dtype: object

In [33]:
# loc是通过标签来选择数据
all_basics.loc["300676"]

name                    华大基因
industry                医疗保健
area                      深圳
pe                     48.95
outstanding             2.47
totals                     4
totalAssets           524001
liquidAssets          367646
fixedAssets          76608.9
reserved              296826
reservedPerShare        7.42
esp                    0.519
bvps                   10.58
pb                      4.81
timeToMarket        20170714
undp                 77176.2
perundp                 1.93
rev                    28.44
profit                  8.73
gpr                    54.55
npr                    18.21
holders                33283
Name: 300676, dtype: object

In [35]:
# a.loc[:,['a','b'] ] 表示选取所有的行以及columns为a,b的列；
all_basics.loc[:,["name","industry"]].head(3)

        name industry
code
601162   N天风       证券
600077  宋都股份     全国地产
000416  民生控股     多元金融

In [36]:
# iloc则是直接通过位置来选择数据
# 会显示第一行第一列的数据;(切片后面的值取不到)
all_basics.iloc[1:2,1:2]

       industry
code
600077     全国地产

In [37]:
# 即后面表示列的值没有时，默认选取行位置为1的数据;
all_basics.iloc[1:2]

,name,industry,area,pe,outstanding,totals,totalAssets,liquidAssets,fixedAssets,reserved,...,bvps,pb,timeToMarket,undp,perundp,rev,profit,gpr,npr,holders
code,,,,,,,,,,,,,,,,,,,,,
600077,宋都股份,全国地产,浙江,14.37,13.4,13.4,2195440.25,1905124.75,5696.47,40707.21,...,2.86,0.87,19970520,189799.92,1.42,74.9,623.43,45.07,9.74,33639.0

In [38]:
all_basics.iloc[[0,2],[1,2]] # 即可以自由选取行位置，和列位置对应的数据

       industry area
code
601162       证券   湖北
000416     多元金融   山东

In [44]:
# 使用条件来选择
# 使用单独的列来选择数据
all_basics[all_basics.profit>0].head(3) # 表示选择c列中大于0的数据

,name,industry,area,pe,outstanding,totals,totalAssets,liquidAssets,fixedAssets,reserved,...,bvps,pb,timeToMarket,undp,perundp,rev,profit,gpr,npr,holders
code,,,,,,,,,,,,,,,,,,,,,
600077,宋都股份,全国地产,浙江,14.37,13.40,13.40,2195440.25,1905124.75,5696.47,40707.21,...,2.86,0.87,19970520,189799.92,1.42,74.90,623.43,45.07,9.74,33639.0
600355,精伦电子,元器件,湖北,130.28,4.92,4.92,55282.51,36991.21,12933.24,15094.57,...,0.72,3.91,20020613,-32853.34,-0.67,29.34,160.40,26.49,2.48,27620.0
600172,黄河旋风,矿物制品,河南,18.37,11.69,14.76,1158224.25,467066.25,408339.78,189497.16,...,3.32,0.92,19981126,161085.17,1.09,32.74,42.09,32.11,7.08,63588.0

In [40]:
# 使用where来选择数据
all_basics[all_basics>0].head(3) # 表直接选择a中所有大于0的数据

,name,industry,area,pe,outstanding,totals,totalAssets,liquidAssets,fixedAssets,reserved,...,bvps,pb,timeToMarket,undp,perundp,rev,profit,gpr,npr,holders
code,,,,,,,,,,,,,,,,,,,,,
601162,N天风,证券,湖北,37.97,5.18,51.80,5353962.50,NaN,14892.90,411327.72,...,2.47,1.04,20181019.0,191713.86,0.37,NaN,NaN,NaN,13.28,462916.0
600077,宋都股份,全国地产,浙江,14.37,13.40,13.40,2195440.25,1905124.75,5696.47,40707.21,...,2.86,0.87,19970520.0,189799.92,1.42,74.90,623.43,45.07,9.74,33639.0
000416,民生控股,多元金融,山东,192.27,5.32,5.32,89971.36,72549.88,3868.16,2809.50,...,1.61,2.16,19960719.0,24942.03,0.47,61.01,NaN,98.86,74.72,37198.0

In [42]:
# 使用isin()选出特定列中包含特定值的行
a1=all_basics.copy()
a1[a1['outstanding'].isin(['2','3'])].head(3) # 表显示满足条件：列one中的值包含'2','3'的所有行。

,name,industry,area,pe,outstanding,totals,totalAssets,liquidAssets,fixedAssets,reserved,...,bvps,pb,timeToMarket,undp,perundp,rev,profit,gpr,npr,holders
code,,,,,,,,,,,,,,,,,,,,,
603309,维力医疗,医疗保健,广东,34.98,2.0,2.00,107405.38,48562.03,28536.85,30776.59,...,4.44,2.00,20150302,34051.87,1.70,9.71,-36.21,32.44,8.02,18402.0
002552,*ST宝鼎,机械基件,浙江,25.66,2.0,3.06,86282.15,24598.65,32739.69,40874.35,...,1.96,1.93,20110225,-14090.44,-0.46,23.86,373.65,20.11,16.21,15637.0
300475,聚隆科技,专用机械,安徽,83.39,2.0,2.00,148179.52,131763.63,10422.49,43395.46,...,6.07,1.28,20150610,52883.68,2.64,-37.27,-68.15,22.41,7.97,14546.0

# 三、设置值（赋值）

In [ ]:
# 赋值操作在上述选择操作的基础上直接赋值即可。
a.loc[:,['a','c']]=9 # 即将a和c列的所有行中的值设置为9

In [ ]:
a.iloc[:,[1,3]]=9 # 也表示将a和c列的所有行中的值设置为9

In [ ]:
# 同时也依然可以用条件来直接赋值
a[a>0]=-a # 表示将a中所有大于0的数转化为负值

# 四、缺失值处理

In [ ]:
a.fillna(value=x)  # 表示用值为x的数来对缺失值进行填充

In [ ]:
a.dropna(how='any')  # 表示去掉所有包含缺失值的行

# 五、合并

In [ ]:
例：a1=[b['a'],b['c']]
result=pd.concat(a1,axis=1，keys=['1','2'])

In [ ]:
Append 将一行或多行数据连接到一个DataFrame上
a.append(a[2:],ignore_index=True)

In [ ]:
merge类似于SQL中的join
设a1,a2为两个dataframe,二者中存在相同的键值，两个对象连接的方式有下面几种：
(1)内连接，pd.merge(a1, a2, on='key')
(2)左连接，pd.merge(a1, a2, on='key', how='left')
(3)右连接，pd.merge(a1, a2, on='key', how='right')
(4)外连接， pd.merge(a1, a2, on='key', how='outer')

In [25]:
all_basics.to_csv("all_basics.csv")

In [27]:
# all_basics.info()

In [29]:
# all_basics["timeToMarket"]//10000

In [31]:
# ts.get_index()

In [32]:
# tmp = ts.get_hist_data(code="600379",start="2016-08-20",end="2018-08-20")

## 过滤掉一些不需要的股票

In [29]:
df_filter = pd.read_csv("filterCode.csv", dtype="string")

In [31]:
# df_filter.info()

In [32]:
stockList = list(df_filter["code"])

In [34]:
len(stockList)

2903

## 下载过滤后股票的每日价量表

In [35]:
count = 0
for i in stockList:
    count = count+1
    #print(i)
    tmp = ts.get_k_data(code=i,start="2016-08-01",end="2018-09-17")
    if len(tmp) < 200:
        #tmp = ts.get_hist_data(code=i,start="2016-08-20",end="2018-08-20")
        #if len(tmp) != 474:
        print i, len(tmp), "data deficiencies"
        #continue
    tmp.to_csv("price/"+i+".csv")
    print count
    #break
print "done!"

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
000155 183 data deficiencies
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
600890 190 data deficiencies
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
600733 32 data deficiencies
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
600485 97 data deficiencies
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
600145 0 data deficiencies
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
002075 33 data deficiencies
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
000029 32 data deficiencies
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000
1001
1002
1003
1004
1005
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1020
1021
1022
1023
1024
1025
1026
1027
1028
1029
1030
1031
1032
1033
1034
1035
1036
1037
1038
1039
1040
1041
1042
1043
1044
1045
1046
1047
1048
1049
1050
1051
1052
1053
1054
1055
1056
1057
1058
1059
1060
1061
1062
1063
1064
1065
1066
1067
1068
1069
1070
1071
1072
1073
1074
1075
1076
1077
1078
1079
1080
1081
1082
1083
1084
1085
1086
1087
1088
1089
1090
1091
1092
1093
1094
1095
1096
1097
1098
1099
1100
1101
1102
1103
1104
1105
1106
1107
1108
1109
1110
1111
1112
1113
1114
1115
1116
1117
1118
1119
1120
1121
1122
1123
1124
1125
1126
1127
1128
1129
1130
1131
1132
1133
1134
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1147
1148
1149
1150
1151
1152
1153
1154
1155
1156
1157
1158
1159
1160
1161
1162
1163
1164
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1196
1197
1198
1199
1200
1201
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1212
1213
1214
1215
1216
1217
1218
1219
1220
1221
1222
1223
1224
1225
1226
1227
1228
1229
1230
1231
1232
1233
1234
1235
1236
1237
1238
1239
1240
1241
1242
1243
1244
1245
1246
1247
1248
1249
1250
1251
1252
1253
1254
1255
1256
1257
1258
1259
1260
1261
1262
1263
1264
1265
1266
1267
1268
1269
1270
1271
1272
1273
1274
1275
1276
1277
1278
1279
1280
1281
1282
1283
1284
1285
1286
1287
1288
1289
1290
1291
1292
1293
1294
1295
1296
1297
1298
1299
1300
1301
1302
1303
1304
1305
1306
1307
1308
1309
1310
1311
1312
1313
1314
1315
1316
1317
1318
1319
1320
1321
1322
1323
1324
1325
1326
1327
1328
1329
1330
1331
1332
1333
1334
1335
1336
1337
1338
1339
1340
1341
1342
1343
1344
1345
1346
1347
1348
1349
1350
1351
1352
1353
1354
1355
1356
1357
1358
1359
1360
1361
1362
1363
1364
1365
1366
1367
1368
1369
1370
1371
1372
1373
1374
1375
1376
1377
1378
1379
1380
1381
1382
1383
1384
1385
1386
1387
1388
1389
1390
1391
1392
1393
1394
1395
1396
1397
1398
1399
1400
1401
1402
1403
1404
1405
1406
1407
1408
1409
1410
1411
1412
1413
1414
1415
1416
1417
1418
1419
1420
1421
1422
1423
1424
1425
1426
1427
1428
1429
1430
1431
1432
1433
1434
1435
1436
1437
1438
1439
1440
1441
1442
1443
1444
1445
1446
1447
1448
1449
1450
1451
1452
1453
1454
1455
1456
1457
1458
1459
1460
1461
1462
1463
1464
1465
1466
1467
1468
1469
1470
1471
1472
1473
1474
1475
1476
1477
1478
1479
1480
1481
1482
1483
1484
1485
1486
1487
1488
1489
1490
1491
1492
1493
1494
1495
1496
1497
1498
1499
1500
1501
1502
1503
1504
1505
1506
1507
1508
1509
1510
1511
002168 198 data deficiencies
1512
1513
1514
1515
1516
1517
1518
1519
1520
1521
1522
1523
1524
1525
1526
1527
1528
1529
1530
1531
1532
1533
1534
1535
1536
1537
1538
1539
1540
1541
1542
1543
1544
1545
1546
1547
1548
1549
1550
1551
1552
1553
1554
1555
1556
1557
1558
1559
1560
1561
1562
1563
1564
1565
1566
1567
1568
1569
1570
1571
1572
1573
1574
1575
1576
1577
1578
1579
1580
1581
1582
1583
1584
1585
1586
1587
002129 181 data deficiencies
1588
1589
1590
1591
1592
1593
1594
1595
1596
1597
1598
1599
1600
1601
1602
1603
1604
1605
1606
1607
1608
1609
1610
1611
1612
1613
1614
1615
1616
1617
1618
1619
1620
1621
1622
1623
1624
1625
1626
1627
1628
1629
1630
1631
1632
1633
1634
1635
1636
1637
1638
1639
1640
1641
1642
1643
1644
1645
1646
1647
1648
1649
1650
1651
1652
1653
1654
1655
1656
1657
1658
1659
1660
1661
1662
1663
1664
1665
1666
1667
1668
1669
1670
1671
1672
1673
1674
1675
1676
1677
1678
1679
1680
1681
1682
1683
1684
1685
1686
1687
1688
1689
1690
1691
1692
1693
1694
1695
1696
1697
1698
1699
1700
1701
1702
1703
1704
1705
1706
1707
1708
1709
1710
1711
1712
1713
1714
1715
1716
1717
1718
1719
1720
1721
1722
1723
1724
1725
1726
1727
1728
1729
1730
1731
1732
1733
1734
1735
1736
1737
1738
1739
1740
1741
1742
1743
1744
1745
1746
1747
1748
1749
1750
1751
1752
1753
1754
1755
1756
1757
1758
1759
1760
1761
1762
1763
1764
1765
1766
1767
1768
1769
1770
1771
1772
1773
1774
1775
1776
1777
1778
1779
1780
1781
1782
1783
1784
1785
1786
1787
1788
1789
1790
1791
1792
1793
1794
1795
1796
1797
1798
1799
1800
1801
1802
1803
1804
1805
1806
1807
1808
1809
1810

1811
1812
1813
1814
1815
1816
1817
1818
1819
1820
1821
1822
1823
1824
1825
1826
1827
1828
1829
1830
1831
1832
1833
1834
1835
1836
1837
1838
1839
1840
1841
1842
1843
1844
1845
1846
1847
1848
1849
1850
1851
1852
1853
1854
1855
1856
1857
1858
1859
1860
1861
1862
1863
1864
1865
1866
1867
1868
1869
1870
1871
1872
1873
1874
1875
1876
1877
1878
1879
1880
1881
1882
1883
1884
1885
1886
1887
1888
1889
1890
1891
1892
1893
1894
1895
1896
1897
1898
1899
1900
1901
1902
1903
1904
1905
1906
1907
1908
1909
1910
1911
1912
1913
1914
1915
1916
1917
1918
1919
1920
1921
1922
1923
1924
1925
1926
1927
1928
1929
1930
1931
1932
1933
1934
1935
1936
1937
1938
1939
1940
1941
1942
1943
1944
1945
1946
1947
1948
1949
1950
1951
1952
1953
1954
1955
1956
002260 177 data deficiencies
1957
1958
1959
1960
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023
2024
2025
2026
2027
2028
2029
2030
2031
2032
2033
2034
2035
2036
2037
2038
2039
2040
2041
2042
2043
2044
2045
2046
2047
2048
2049
2050
2051
2052
2053
2054
2055
2056
2057
2058
2059
2060
2061
2062
2063
2064
2065
2066
2067
2068
2069
2070
2071
2072
2073
2074
2075
2076
2077
2078
2079
2080
2081
2082
2083
2084
2085
2086
2087
2088
2089
2090
2091
2092
2093
2094
2095
2096
2097
2098
2099
2100
2101
2102
2103
2104
2105
2106
2107
2108
2109
2110
2111
2112
2113
2114
2115
2116
2117
2118
2119
2120
2121
2122
2123
2124
2125
2126
2127
2128
2129
2130
2131
2132
2133
2134
2135
2136
2137
2138
2139
2140
2141
2142
2143
2144
2145
2146
2147
2148
2149
2150
2151
2152
2153
2154
2155
2156
2157
2158
2159
2160
2161
2162
2163
2164
2165
2166
2167
2168
2169
2170
2171
2172
2173
2174
2175
2176
2177
2178
2179
2180
2181
2182
2183
2184
2185
2186
2187
2188
2189
2190
2191
2192
2193
2194
2195
2196
2197
2198
2199
2200
2201
2202
2203
2204
2205
2206
2207
2208
2209
2210
2211
2212
2213
2214
2215
2216
2217
2218
2219
2220
2221
2222
2223
2224
2225
2226
2227
2228
2229
2230
2231
2232
2233
2234
2235
2236
2237
2238
2239
2240
2241
2242
2243
2244
2245
2246
2247
2248
2249
2250
2251
2252
2253
2254
2255
2256
2257
2258
2259
2260
2261
2262
2263
2264
2265
2266
2267
2268
2269
2270
2271
2272
2273
2274
2275
2276
2277
2278
2279
2280
2281
2282
2283
2284
2285
2286
2287
2288
2289
2290
2291
2292
2293
2294
2295
2296
2297
2298
2299
2300
2301
2302
2303
2304
2305
2306
2307
2308
2309
2310
2311
2312
2313
2314
2315
2316
2317
2318
2319
2320
2321
2322
2323
2324
2325
2326
2327
2328
2329
2330
2331
2332
2333
2334
2335
2336
2337
2338
2339
2340
2341
2342
2343
2344
2345
2346
2347
2348
2349
2350
2351
2352
2353
2354
2355
2356
2357
2358
2359
2360
2361
2362
2363
2364
2365
2366
2367
2368
2369
2370
2371
2372
2373
2374
2375
2376
2377
2378
2379
2380
2381
2382
2383
2384
2385
2386
2387
2388
2389
2390
2391
2392
2393
2394
2395
2396
2397
2398
2399
2400
2401
2402
2403
2404
2405
2406
2407
2408
2409
2410
2411
2412
2413
2414
2415
2416
2417
2418
2419
2420
2421
000629 157 data deficiencies
2422
2423
2424
2425
2426
2427
2428
2429
2430
2431
2432
2433
2434
2435
2436
2437
2438
2439
2440
2441
2442
2443
2444
2445
2446
2447
2448
2449
2450
2451
2452
2453
2454
2455
2456
2457
2458
2459
2460
2461
2462
2463
2464
2465
2466
2467
2468
2469
2470
2471
2472
2473
2474
2475
2476
2477
2478
2479
2480
2481
2482
2483
2484
2485
2486
2487
2488
2489
2490
2491
2492
2493
2494
2495
2496
2497
2498
2499
2500
2501
2502
2503
2504
2505
2506
2507
2508
2509
2510
2511
2512
2513
2514
2515
2516
2517
2518
2519
2520
2521
2522
2523
2524
2525
2526
2527
2528
2529
2530
2531
2532
2533
2534
2535
2536
2537
2538
2539
2540
2541
2542
2543
2544
2545
2546
2547
2548
2549
2550
2551
2552
2553
2554
2555
2556
2557
2558
2559
2560
2561
2562
2563
2564
2565
2566
2567
2568
2569
2570
2571
2572
2573
2574
2575
2576
2577
2578
2579
2580
2581
2582
2583
2584
2585
2586
2587
2588
2589
2590
2591
2592
2593
2594
2595
2596
2597
2598
2599
2600
2601
2602
2603
2604
2605
2606
2607
2608
2609
2610
2611
2612
2613
2614
2615
2616
2617
2618
2619
2620
2621
2622
2623
2624
2625
2626
2627
2628
2629
2630
2631
2632
2633
2634
2635
2636
2637
2638
2639
2640
2641
2642
2643
2644
2645
2646
2647
2648
2649
2650
2651
2652
2653
2654
2655
2656
2657
2658
2659
2660
2661
2662
2663
2664
2665
2666
2667
2668
2669
2670
2671
2672
2673
2674
2675
2676
2677
2678
2679
2680
2681
2682
2683
2684
2685
2686
2687
2688
2689
2690
2691
2692
2693
2694
2695
2696
2697
2698
2699
2700
2701
2702
2703
2704
2705
2706
2707
2708
2709
2710
2711
2712
2713
2714
2715
2716
2717
2718
2719
2720
2721
2722
2723
2724
2725
2726
2727
2728
2729
2730
2731
2732
2733
2734
2735
2736
2737
2738
2739
2740
2741
2742
2743
2744
2745
2746
2747
2748
2749
2750
2751
2752
2753
2754
2755
2756
2757
2758
2759
2760
2761
2762
2763
2764
2765
2766
2767
2768
2769
2770
2771
2772
2773
2774
2775
2776
2777
2778
2779
2780
2781
2782
2783
2784
2785
2786
2787
2788
2789
2790
2791
2792
2793
2794
2795
2796
2797
2798
2799
2800
2801
2802
2803
2804
2805
2806
2807
2808
2809
2810
2811
2812
2813
2814
2815
2816
2817
2818
2819
2820
2821
2822
2823
2824
2825
2826
2827
2828
2829
2830
2831
2832
2833
2834
2835
2836
2837
2838
2839
2840
2841
2842
2843
2844
2845
2846
2847
2848
2849
2850
2851
2852
2853
2854
2855
2856
2857
2858
2859
2860
2861
2862
2863
2864
2865
2866
2867
2868
2869
2870
2871
2872
2873
000950 148 data deficiencies
2874
2875
2876
2877
2878
2879
2880
2881
2882
2883
2884
2885
2886
2887
2888
2889
2890
2891
2892
2893
2894
2895
2896
2897
2898
2899
2900
2901
2902
000693 26 data deficiencies
2903
done!

In [15]:
# tmp

# get basic report

In [9]:
years = [i+2015 for i in range(4)]
seasons = [i+1 for i in range(4)]

In [17]:
#years
#seasons
for i in years:
    for j in seasons:
        if i==2018 and j>2:
            continue
        print i,j
        tmp1 = ts.get_report_data(i,j)
        tmp1.to_csv("basic/report_%s_%s.csv"%(i,j), encoding='utf-8')
        tmp2 = ts.get_profit_data(i,j)
        tmp2.to_csv("basic/profit_%s_%s.csv"%(i,j), encoding='utf-8')
        tmp3 = ts.get_growth_data(i,j)
        tmp3.to_csv("basic/growth_%s_%s.csv"%(i,j), encoding='utf-8')
        tmp4 = ts.get_debtpaying_data(i,j)
        tmp4.to_csv("basic/debtpaying_%s_%s.csv"%(i,j), encoding='utf-8')
        tmp5 = ts.get_cashflow_data(i,j)
        tmp5.to_csv("basic/cashflow_%s_%s.csv"%(i,j), encoding='utf-8')

2015 1
[Getting data:]#################################################[Getting data:]#################################################[Getting data:]##############################################[Getting data:]#################################################[Getting data:]#################################################2015 2
[Getting data:]###################################################[Getting data:]###################################################[Getting data:]###############################################[Getting data:]###################################################[Getting data:]###################################################2015 3
[Getting data:]####################################################[Getting data:]####################################################[Getting data:]###############################################[Getting data:]####################################################[Getting data:]####################################################2015 4
[Getting data:]###########################################################[Getting data:]###########################################################[Getting data:]###########################################################[Getting data:]###########################################################[Getting data:]###########################################################2016 1
[Getting data:]#######################################################[Getting data:]#######################################################[Getting data:]#################################################[Getting data:]########################################################[Getting data:]########################################################2016 2
[Getting data:]#########################################################[Getting data:]#########################################################[Getting data:]###################################################[Getting data:]#########################################################[Getting data:]#########################################################2016 3
[Getting data:]##########################################################[Getting data:]##########################################################[Getting data:]####################################################[Getting data:]##########################################################[Getting data:]##########################################################2016 4
[Getting data:]###########################################################[Getting data:]###########################################################[Getting data:]###########################################################[Getting data:]###########################################################[Getting data:]###########################################################2017 1
[Getting data:]###########################################################[Getting data:]###########################################################[Getting data:]#######################################################[Getting data:]###########################################################[Getting data:]###########################################################2017 2
[Getting data:]###########################################################[Getting data:]###########################################################[Getting data:]#########################################################[Getting data:]###########################################################[Getting data:]###########################################################2017 3
[Getting data:]##########################################################[Getting data:]##########################################################[Getting data:]##########################################################[Getting data:]##########################################################[Getting data:]##########################################################2017 4
[Getting data:]###########################################################[Getting data:]###########################################################[Getting data:]###########################################################[Getting data:]###########################################################[Getting data:]###########################################################2018 1
[Getting data:]###########################################################[Getting data:]###########################################################[Getting data:]###########################################################[Getting data:]###########################################################[Getting data:]###########################################################2018 2
[Getting data:]#############################[Getting data:]################################[Getting data:]#############################[Getting data:]#############################[Getting data:]#############################

In [28]:
# better than get_hist_data
ts.get_k_data(code="sh",start="2016-08-02",end="2018-08-21")

           date     open    close     high      low       volume code
142  2016-08-02  2950.08  2971.28  2971.28  2946.64  115468900.0   sh
143  2016-08-03  2963.21  2978.46  2981.16  2956.79  141141332.0   sh
144  2016-08-04  2976.41  2982.43  2982.86  2958.93  133933301.0   sh
145  2016-08-05  2978.78  2976.70  2991.68  2971.56  141857101.0   sh
146  2016-08-08  2972.62  3004.28  3004.72  2959.05  155729833.0   sh
147  2016-08-09  3001.31  3025.68  3025.91  2998.68  169995446.0   sh
148  2016-08-10  3023.47  3018.75  3033.20  3017.09  164675165.0   sh
149  2016-08-11  3013.68  3002.64  3038.05  3001.17  161879481.0   sh
150  2016-08-12  3000.27  3050.67  3051.05  2999.04  168173657.0   sh
151  2016-08-15  3056.48  3125.20  3137.48  3053.87  297616506.0   sh
152  2016-08-16  3130.53  3110.04  3140.44  3102.07  278328934.0   sh
153  2016-08-17  3106.99  3109.55  3114.25  3090.28  213839637.0   sh
154  2016-08-18  3107.75  3104.11  3125.58  3093.32  229359081.0   sh
155  2016-08-19  3100.39  3108.10  3113.34  3082.77  194347453.0   sh
156  2016-08-22  3107.38  3084.81  3112.74  3083.59  185387927.0   sh
157  2016-08-23  3081.57  3089.71  3101.11  3073.53  161368965.0   sh
158  2016-08-24  3092.02  3085.88  3097.15  3079.55  145707440.0   sh
159  2016-08-25  3073.44  3068.33  3073.44  3041.51  174032980.0   sh
160  2016-08-26  3069.85  3070.31  3087.65  3063.89  149663901.0   sh
161  2016-08-29  3068.46  3070.03  3074.94  3058.79  144500007.0   sh
162  2016-08-30  3071.44  3074.68  3082.99  3065.97  140434811.0   sh
163  2016-08-31  3072.92  3085.49  3087.70  3063.40  141368609.0   sh
164  2016-09-01  3083.96  3063.31  3088.70  3062.88  155191093.0   sh
165  2016-09-02  3057.49  3067.35  3072.53  3050.49  150446920.0   sh
166  2016-09-05  3070.71  3072.10  3085.49  3065.33  144963317.0   sh
167  2016-09-06  3071.06  3090.71  3095.51  3053.19  172908524.0   sh
168  2016-09-07  3091.33  3091.93  3105.68  3087.88  186956763.0   sh
169  2016-09-08  3089.95  3095.95  3096.78  3083.90  145883771.0   sh
170  2016-09-09  3095.43  3078.85  3101.79  3078.22  160692924.0   sh
171  2016-09-12  3037.51  3021.98  3040.95  2999.93  206012086.0   sh
..          ...      ...      ...      ...      ...          ...  ...
613  2018-07-10  2819.71  2827.63  2828.49  2800.62  117062748.0   sh
614  2018-07-11  2780.70  2777.77  2794.36  2752.44  126821149.0   sh
615  2018-07-12  2771.04  2837.66  2844.19  2771.04  146980200.0   sh
616  2018-07-13  2831.43  2831.18  2835.46  2818.85  117689348.0   sh
617  2018-07-16  2827.08  2814.04  2837.51  2804.49  107767151.0   sh
618  2018-07-17  2806.89  2798.13  2806.92  2774.76  105409220.0   sh
619  2018-07-18  2801.78  2787.26  2818.40  2786.04  120961165.0   sh
620  2018-07-19  2791.02  2772.55  2805.01  2764.49  114486493.0   sh
621  2018-07-20  2769.75  2829.27  2837.86  2753.84  145907688.0   sh
622  2018-07-23  2815.20  2859.54  2863.57  2809.62  173382797.0   sh
623  2018-07-24  2862.27  2905.56  2911.46  2862.27  229578307.0   sh
624  2018-07-25  2911.45  2903.65  2912.31  2894.04  167800207.0   sh
625  2018-07-26  2905.79  2882.23  2915.30  2875.70  168428202.0   sh
626  2018-07-27  2879.69  2873.59  2889.69  2864.11  146371610.0   sh
627  2018-07-30  2871.94  2869.05  2896.01  2850.30  151652249.0   sh
628  2018-07-31  2866.90  2876.40  2884.68  2854.32  118931117.0   sh
629  2018-08-01  2882.51  2824.53  2897.40  2823.93  149514348.0   sh
630  2018-08-02  2815.34  2768.02  2815.34  2726.48  174179003.0   sh
631  2018-08-03  2763.40  2740.44  2777.66  2740.43  127006363.0   sh
632  2018-08-06  2736.53  2705.16  2760.47  2692.32  129753058.0   sh
633  2018-08-07  2711.74  2779.37  2779.37  2696.04  149579743.0   sh
634  2018-08-08  2771.13  2744.07  2779.91  2741.07  147688715.0   sh
635  2018-08-09  2729.58  2794.38  2801.66  2726.22  151660333.0   sh
636  2018-08-10  2791.40  2795.31  2806.11  2777.51  121532232.0   sh
637  2018-08-13  2769.02  2785.87  2789.80  2742.56  127532241.0   sh
638  2018-08-14  2780.74  2780.96  2789.44  2766.57  109571077.0   sh
639  2018-08-15  2777.25  2723.26  2777.70  2721.24  116161787.0   sh
640  2018-08-16  2691.43  2705.19  2732.95  2672.74  120277878.0   sh
641  2018-08-17  2723.89  2668.97  2730.33  2665.59  112445294.0   sh
642  2018-08-20  2673.07  2698.47  2698.47  2653.11  110784164.0   sh

[501 rows x 7 columns]