# tushare for python2

In [18]:
import tushare as ts

- 历史行情数据
- 复权历史数据
- 实时行情数据
- 历史分笔数据
- 实时报价数据
- 当日历史分笔
- 大盘指数列表
- 大单交易数据

In [1]:
# -*- coding:utf-8 -*- 
"""
交易数据接口 
Created on 2014/07/31
@author: Jimmy Liu
@group : waditu
@contact: jimmysoa@sina.cn
"""
from __future__ import division

import time
import json
import lxml.html
from lxml import etree
import pandas as pd
import numpy as np
import datetime
import re
from pandas.compat import StringIO
import os
try:
    from urllib.request import urlopen, Request
except ImportError:
    from urllib2 import urlopen, Request

In [6]:
from tushare.stock import cons as ct
from tushare.util.conns import get_apis, close_apis
from tushare.stock.fundamental import get_stock_basics
from tushare.util import dateu as du
from tushare.util.formula import MA

In [7]:
def get_hist_data(code=None, start=None, end=None,
                  ktype='D', retry_count=3,
                  pause=0.001):
    """
        获取个股历史交易记录
    Parameters
    ------
      code:string
                  股票代码 e.g. 600848
      start:string
                  开始日期 format：YYYY-MM-DD 为空时取到API所提供的最早日期数据
      end:string
                  结束日期 format：YYYY-MM-DD 为空时取到最近一个交易日数据
      ktype：string
                  数据类型，D=日k线 W=周 M=月 5=5分钟 15=15分钟 30=30分钟 60=60分钟，默认为D
      retry_count : int, 默认 3
                 如遇网络等问题重复执行的次数 
      pause : int, 默认 0
                重复请求数据过程中暂停的秒数，防止请求间隔时间太短出现的问题
    return
    -------
      DataFrame
          属性:日期 ，开盘价， 最高价， 收盘价， 最低价， 成交量， 价格变动 ，涨跌幅，5日均价，10日均价，20日均价，5日均量，10日均量，20日均量，换手率
    """
    symbol = ct._code_to_symbol(code)
    url = ''
    if ktype.upper() in ct.K_LABELS:
        url = ct.DAY_PRICE_URL%(ct.P_TYPE['http'], ct.DOMAINS['ifeng'],
                                ct.K_TYPE[ktype.upper()], symbol)
    elif ktype in ct.K_MIN_LABELS:
        url = ct.DAY_PRICE_MIN_URL%(ct.P_TYPE['http'], ct.DOMAINS['ifeng'],
                                    symbol, ktype)
    else:
        raise TypeError('ktype input error.')
    
    for _ in range(retry_count):
        time.sleep(pause)
        try:
            request = Request(url)
            lines = urlopen(request, timeout = 10).read()
            if len(lines) < 15: #no data
                return None
        except Exception as e:
            print(e)
        else:
            js = json.loads(lines.decode('utf-8') if ct.PY3 else lines)
            cols = []
            if (code in ct.INDEX_LABELS) & (ktype.upper() in ct.K_LABELS):
                cols = ct.INX_DAY_PRICE_COLUMNS
            else:
                cols = ct.DAY_PRICE_COLUMNS
            if len(js['record'][0]) == 14:
                cols = ct.INX_DAY_PRICE_COLUMNS
            df = pd.DataFrame(js['record'], columns=cols)
            if ktype.upper() in ['D', 'W', 'M']:
                df = df.applymap(lambda x: x.replace(u',', u''))
                df[df==''] = 0
            for col in cols[1:]:
                df[col] = df[col].astype(float)
            if start is not None:
                df = df[df.date >= start]
            if end is not None:
                df = df[df.date <= end]
            if (code in ct.INDEX_LABELS) & (ktype in ct.K_MIN_LABELS):
                df = df.drop('turnover', axis=1)
            df = df.set_index('date')
            df = df.sort_index(ascending = False)
            return df
    raise IOError(ct.NETWORK_URL_ERROR_MSG)

In [10]:
def get_k_data(code=None, start='', end='',
                  ktype='D', autype='qfq', 
                  index=False,
                  retry_count=3,
                  pause=0.001):
    """
    获取k线数据
    ---------
    Parameters:
      code:string
                  股票代码 e.g. 600848
      start:string
                  开始日期 format：YYYY-MM-DD 为空时取上市首日
      end:string
                  结束日期 format：YYYY-MM-DD 为空时取最近一个交易日
      autype:string
                  复权类型，qfq-前复权 hfq-后复权 None-不复权，默认为qfq
      ktype：string
                  数据类型，D=日k线 W=周 M=月 5=5分钟 15=15分钟 30=30分钟 60=60分钟，默认为D
      retry_count : int, 默认 3
                 如遇网络等问题重复执行的次数 
      pause : int, 默认 0
                重复请求数据过程中暂停的秒数，防止请求间隔时间太短出现的问题
    return
    -------
      DataFrame
          date 交易日期 (index)
          open 开盘价
          high  最高价
          close 收盘价
          low 最低价
          volume 成交量
          amount 成交额
          turnoverratio 换手率
          code 股票代码
    """
    symbol = ct.INDEX_SYMBOL[code] if index else ct._code_to_symbol(code)
    url = ''
    dataflag = ''
    autype = '' if autype is None else autype
    if (start is not None) & (start != ''):
        end = du.today() if end is None or end == '' else end
    if ktype.upper() in ct.K_LABELS:
        fq = autype if autype is not None else ''
        if code[:1] in ('1', '5') or index:
            fq = ''
        kline = '' if autype is None else 'fq'
        if (start is None or start == '') & (end is None or end == ''):
            urls = [ct.KLINE_TT_URL%(ct.P_TYPE['http'], ct.DOMAINS['tt'],
                                    kline, fq, symbol, 
                                    ct.TT_K_TYPE[ktype.upper()], start, end,
                                    fq, _random(17))]
        else:
            years = du.tt_dates(start, end)
            urls = []
            for year in years:
                startdate = str(year) + '-01-01'
                enddate = str(year+1) + '-12-31'
                url = ct.KLINE_TT_URL%(ct.P_TYPE['http'], ct.DOMAINS['tt'],
                                    kline, fq+str(year), symbol, 
                                    ct.TT_K_TYPE[ktype.upper()], startdate, enddate,
                                    fq, _random(17))
                urls.append(url)
        dataflag = '%s%s'%(fq, ct.TT_K_TYPE[ktype.upper()])
    elif ktype in ct.K_MIN_LABELS:
        urls = [ct.KLINE_TT_MIN_URL%(ct.P_TYPE['http'], ct.DOMAINS['tt'],
                                    symbol, ktype, ktype,
                                    _random(16))]
        dataflag = 'm%s'%ktype
    else:
        raise TypeError('ktype input error.')
    data = pd.DataFrame()
    for url in urls:
        data = data.append(_get_k_data(url, dataflag, 
                                       symbol, code,
                                       index, ktype,
                                       retry_count, pause), 
                           ignore_index=True)
    if ktype not in ct.K_MIN_LABELS:
        if ((start is not None) & (start != '')) & ((end is not None) & (end != '')):
            if data.empty==False:       
                data = data[(data.date >= start) & (data.date <= end)]
    return data
    raise IOError(ct.NETWORK_URL_ERROR_MSG)

In [12]:
def _random(n=13):
    from random import randint
    start = 10**(n-1)
    end = (10**n)-1
    return str(randint(start, end))

In [14]:
def _get_k_data(url, dataflag='',
                symbol='',
                code = '',
                index = False,
                ktype = '',
                retry_count=3,
                pause=0.001):
    for _ in range(retry_count):
            time.sleep(pause)
            try:
                request = Request(url)
                lines = urlopen(request, timeout = 10).read()
                if len(lines) < 100: #no data
                    return None
            except Exception as e:
                print(e)
            else:
                lines = lines.decode('utf-8') if ct.PY3 else lines
                lines = lines.split('=')[1]
                reg = re.compile(r',{"nd.*?}') 
                lines = re.subn(reg, '', lines) 
                js = json.loads(lines[0])
                dataflag = dataflag if dataflag in list(js['data'][symbol].keys()) else ct.TT_K_TYPE[ktype.upper()]
                if len(js['data'][symbol][dataflag]) == 0:
                    return None
                if len(js['data'][symbol][dataflag][0]) == 6:
                    df = pd.DataFrame(js['data'][symbol][dataflag], 
                                  columns = ct.KLINE_TT_COLS_MINS)
                else:
                    df = pd.DataFrame(js['data'][symbol][dataflag], 
                                  columns = ct.KLINE_TT_COLS)
                df['code'] = symbol if index else code
                if ktype in ct.K_MIN_LABELS:
                    df['date'] = df['date'].map(lambda x: '%s-%s-%s %s:%s'%(x[0:4], x[4:6], 
                                                                            x[6:8], x[8:10], 
                                                                            x[10:12]))
                for col in df.columns[1:6]:
                    df[col] = df[col].astype(float)
                return df

In [8]:
# 历史行情
get_hist_data('300676', start='2018-01-01', end='2018-07-31') #一次性获取全部日k线数据 
# failed

In [17]:
# get_k_data('300676')

In [18]:
# 复权数据
df = ts.get_stock_basics()
date = df.ix['600848']['timeToMarket'] #上市日期YYYYMMDD

In [21]:
df.ix['600848']

name                       上海临港
industry                   园区开发
area                         上海
pe                         90.9
outstanding                   4
totals                     11.2
totalAssets         1.39677e+06
liquidAssets        1.00801e+06
fixedAssets             12230.9
reserved                 423993
reservedPerShare           3.79
esp                        0.06
bvps                       5.87
pb                         3.69
timeToMarket           19940324
undp                     110493
perundp                    0.99
rev                      -19.95
profit                    19.21
gpr                       54.32
npr                       23.88
holders                   61764
Name: 600848, dtype: object

## 获取某家公司的财务信息

In [4]:
all = ts.get_stock_basics()
all.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3538 entries, 600225 to 000950
Data columns (total 22 columns):
name                3538 non-null object
industry            3538 non-null object
area                3538 non-null object
pe                  3538 non-null float64
outstanding         3538 non-null float64
totals              3538 non-null float64
totalAssets         3538 non-null float64
liquidAssets        3538 non-null float64
fixedAssets         3538 non-null float64
reserved            3538 non-null float64
reservedPerShare    3538 non-null float64
esp                 3538 non-null float64
bvps                3538 non-null float64
pb                  3538 non-null float64
timeToMarket        3538 non-null int64
undp                3538 non-null float64
perundp             3538 non-null float64
rev                 3538 non-null float64
profit              3538 non-null float64
gpr                 3538 non-null float64
npr                 3538 non-null float64
holders             3538 non-null float64
dtypes: float64(18), int64(1), object(3)
memory usage: 635.7+ KB

In [11]:
all.loc["300676"]

name                    华大基因
industry                医疗保健
area                      深圳
pe                     72.59
outstanding             2.47
totals                     4
totalAssets           504989
liquidAssets          369130
fixedAssets          77748.9
reserved              296826
reservedPerShare        7.42
esp                    0.252
bvps                   10.54
pb                      6.93
timeToMarket        20170714
undp                 80426.1
perundp                 2.01
rev                    33.13
profit                  6.71
gpr                    53.68
npr                    19.51
holders                37289
Name: 300676, dtype: object

# 获取行业分类信息

In [19]:
ts.get_industry_classified()

        code    name c_name
0     600051    宁波联合   综合行业
1     600209    罗顿发展   综合行业
2     600212    江泉实业   综合行业
3     600256    广汇能源   综合行业
4     600576    祥源文化   综合行业
5     600603    广汇物流   综合行业
6     600614    鹏起科技   综合行业
7     600620    天宸股份   综合行业
8     600622    光大嘉宝   综合行业
9     600624    复旦复华   综合行业
10    600647    同达创业   综合行业
11    600656    退市博元   综合行业
12    600687    刚泰控股   综合行业
13    600701    工大高新   综合行业
14    600730    中国高科   综合行业
15    600770    综艺股份   综合行业
16    600777    新潮能源   综合行业
17    600800    天津磁卡   综合行业
18    600805    悦达投资   综合行业
19    600811    东方集团   综合行业
20    600832    东方明珠   综合行业
21    600846    同济科技   综合行业
22    600892    大晟文化   综合行业
23    000008    神州高铁   综合行业
24    000301    东方市场   综合行业
25    000576    广东甘化   综合行业
26    000632    三木集团   综合行业
27    000633    合金投资   综合行业
28    000652    泰达股份   综合行业
29    000701    厦门信达   综合行业
...      ...     ...    ...
2878  600983     惠而浦   家电行业
2879  603366    日出东方   家电行业
2880  603519    立霸股份   家电行业
2881  000016    深康佳Ａ   家电行业
2882  000100  TCL 集团   家电行业
2883  000333    美的集团   家电行业
2884  000418    小天鹅Ａ   家电行业
2885  000521    美菱电器   家电行业
2886  000527    美的电器   家电行业
2887  000533   万 家 乐   家电行业
2888  000541    佛山照明   家电行业
2889  000651    格力电器   家电行业
2890  000921    海信科龙   家电行业
2891  002005    德豪润达   家电行业
2892  002032   苏 泊 尔   家电行业
2893  002035    华帝股份   家电行业
2894  002076   雪 莱 特   家电行业
2895  002242    九阳股份   家电行业
2896  002260    德奥通航   家电行业
2897  002290    中科新材   家电行业
2898  002403     爱仕达   家电行业
2899  002429    兆驰股份   家电行业
2900  002473   *ST圣莱   家电行业
2901  002508    老板电器   家电行业
2902  002543    万和电气   家电行业
2903  002668    奥马电器   家电行业
2904  002677    浙江美大   家电行业
2905  002681    奋达科技   家电行业
2906  002705    新宝股份   家电行业
2907  002723     金莱特   家电行业

[2908 rows x 3 columns]

# 存储为csv格式，在R中做下游分析

## 我需要哪些数据？
- 表1：每个公司所属的行业信息，以及其他分类标准；（静态）
- 表2：每个公司的财务信息；（动态，季度）
- 表3：各种指数的信息（国内外各种指数，期货）；（动态，每日）
- 表4：每个公司的每日的收盘价和成交量；（动态，每日）
- 表5：

# 0.过滤掉上市不足2年的股票，过滤掉创业板，过滤掉小盘股

## 1.选出0.25、0.5、1、2年内每个股所处的价位比，比如如果某股在0.5年内处于（max-min）的0%，那它就是半年内一直跌
我比较喜欢那种已经大跌过，但现在开始启动行情的个股。

# 2.每个股票之间的相关性分析，以及其与大盘、外汇、外盘的相关性分析。找出一些股票模块。

# 3.根据财务指标对每个行业的个股进行排序，不碰行业的吊车尾。不碰有太多负债、恶性资产且没有盈利能力的公司。不碰即将解禁、做空势力大的股票（现在的华大）。

# 4.开发一款工具来检测启动/反势行情

# 5.最终肯定会筛选出一些个股，需要建立一套完善的个股评价标准，确定最终是否应该买入。

# 6.交易策略的历史验证

# 7.永远不要做纯粹主观的交易

# 8.个股的估值

[美股估值的三种常用方法 一看就懂](http://stock.qq.com/a/20160317/058536.htm)

# 基本统计

In [1]:
import tushare as ts

In [2]:
all_basics = ts.get_stock_basics()

In [3]:
all_basics.head()

,name,industry,area,pe,outstanding,totals,totalAssets,liquidAssets,fixedAssets,reserved,...,bvps,pb,timeToMarket,undp,perundp,rev,profit,gpr,npr,holders
code,,,,,,,,,,,,,,,,,,,,,
000509,华塑控股,其他建材,四川,0.00,8.25,8.25,24894.26,18130.70,1169.06,21226.06,...,0.05,68.29,19930507,-102324.15,-1.24,585.13,-0.01,0.55,-0.78,63186.0
600653,申华控股,汽车服务,上海,0.00,17.46,19.46,989894.88,492175.06,230977.70,34658.40,...,0.86,2.52,19901219,-61917.10,-0.32,42.54,-55.04,4.54,-8.24,195232.0
300240,飞力达,仓储物流,江苏,33.21,3.65,3.66,234576.22,147641.80,32642.69,21162.53,...,3.03,2.31,20110706,50005.60,1.37,8.82,-0.18,12.02,2.49,18171.0
600278,东方创业,商贸代理,上海,25.46,5.22,5.22,809394.06,476305.75,92595.86,96109.74,...,7.79,1.27,20000712,124624.30,2.39,27.15,16.99,4.42,1.10,29100.0
000909,数源科技,综合类,浙江,121.77,3.11,3.12,376438.78,302609.00,1981.50,47205.76,...,3.33,2.70,19990507,22165.71,0.71,28.42,11.93,9.35,1.86,32651.0

In [15]:
all_basics.to_csv("all_basics.csv")

In [13]:
# all_basics.info()

In [14]:
# all_basics["timeToMarket"]//10000

In [ ]:
# 沪深上市公司总数： 3538
# 上市时间

In [16]:
df = ts.get_index()

In [24]:
ts.get_hist_data(code="sh",start="2016-08-02",end="2018-08-01")

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20
date,,,,,,,,,,,,,
2018-08-01,2882.51,2897.40,2824.53,2823.93,1495143.50,-51.87,-1.80,2865.160,2859.637,2828.313,1469795.05,1566053.01,1397906.90
2018-07-31,2866.90,2884.68,2876.40,2854.32,1189311.12,7.35,0.26,2880.984,2855.910,2825.043,1506366.77,1537499.82,1384780.81
2018-07-30,2871.94,2896.01,2869.05,2850.30,1516522.50,-4.54,-0.16,2886.816,2848.083,2820.568,1727661.15,1523977.94,1396564.49
2018-07-27,2879.69,2889.69,2873.59,2864.11,1463716.12,-8.64,-0.30,2884.914,2842.582,2815.893,1771122.25,1480092.84,1389255.88
2018-07-26,2905.79,2915.30,2882.23,2875.70,1684282.00,-21.42,-0.74,2876.050,2838.341,2814.585,1770194.40,1451410.58,1378905.92
2018-07-25,2911.45,2912.31,2903.65,2894.04,1678002.12,-1.91,-0.07,2854.114,2833.884,2809.818,1662310.98,1429962.58,1353870.77
2018-07-24,2862.27,2911.46,2905.56,2862.27,2295783.00,46.02,1.61,2830.836,2821.296,2805.295,1568632.88,1388983.51,1334681.09
2018-07-23,2815.20,2863.57,2859.54,2809.62,1733828.00,30.27,1.07,2809.350,2813.503,2802.242,1320294.73,1276467.96,1282851.17
2018-07-20,2769.75,2837.86,2829.27,2753.84,1459076.88,56.72,2.05,2800.250,2809.060,2802.232,1189063.43,1224634.48,1257118.61
2018-07-19,2791.02,2805.01,2772.55,2764.49,1144864.88,-14.71,-0.53,2800.632,2800.856,2805.257,1132626.75,1215021.16,1247236.33
2018-07-18,2801.78,2818.40,2787.26,2786.04,1209611.62,-10.87,-0.39,2813.654,2796.989,2810.420,1197614.17,1229760.79,1267182.26
2018-07-17,2806.89,2806.92,2798.13,2774.76,1054092.25,-15.91,-0.56,2811.756,2794.176,2816.843,1209334.15,1232061.80,1278852.39
2018-07-16,2827.08,2837.51,2814.04,2804.49,1077671.50,-17.14,-0.60,2817.656,2793.052,2822.328,1232641.20,1269151.04,1341422.81
2018-07-13,2831.43,2835.46,2831.18,2818.85,1176893.50,-6.48,-0.23,2817.870,2789.204,2832.721,1260205.52,1298418.92,1359805.53
2018-07-12,2771.04,2844.19,2837.66,2771.04,1469802.00,59.89,2.16,2801.080,2790.828,2843.370,1297415.57,1306401.26,1358695.59
2018-07-11,2780.70,2794.36,2777.77,2752.44,1268211.50,-49.86,-1.76,2780.324,2785.752,2853.977,1261907.40,1277778.97,1345009.44
2018-07-10,2819.71,2828.49,2827.63,2800.63,1170627.50,12.52,0.45,2776.596,2789.293,2869.078,1254789.45,1280378.66,1338236.41
2018-07-09,2752.45,2815.79,2815.11,2752.45,1215493.12,67.88,2.47,2768.448,2790.981,2880.336,1305660.87,1289234.37,1333986.93
2018-07-06,2731.35,2768.87,2747.23,2691.02,1362943.75,13.35,0.49,2760.538,2795.404,2892.938,1336632.32,1289602.75,1340556.39
2018-07-05,2755.34,2777.52,2733.88,2727.94,1292261.12,-25.25,-0.92,2780.576,2809.657,2911.051,1315386.95,1279451.50,1336301.69
2018-07-04,2776.63,2793.18,2759.13,2754.16,1232621.75,-27.76,-1.00,2791.180,2823.850,2930.116,1293650.55,1304603.73,1331786.70
2018-07-03,2774.57,2786.89,2786.89,2722.45,1424984.62,11.33,0.41,2801.990,2839.510,2947.870,1305967.88,1325642.98,1329523.41
2018-07-02,2841.58,2845.68,2775.56,2756.82,1370350.38,-71.86,-2.52,2813.514,2851.603,2963.085,1272807.88,1413694.59,1315571.13
2018-06-29,2789.81,2848.37,2847.42,2782.38,1256716.88,60.52,2.17,2830.270,2876.237,2978.064,1242573.18,1421192.13,1311989.71
2018-06-28,2799.90,2825.99,2786.90,2782.45,1183579.12,-26.28,-0.93,2838.738,2895.911,2990.467,1243516.05,1410989.93,1319391.63
2018-06-27,2842.40,2854.26,2813.18,2798.80,1294208.38,-31.33,-1.10,2856.520,2922.201,3003.194,1315556.90,1412239.90,1337770.24
2018-06-26,2829.99,2850.24,2844.51,2803.79,1259184.62,-14.83,-0.52,2877.030,2948.863,3018.558,1345318.08,1396094.16,1340918.72
2018-06-25,2903.45,2908.62,2859.34,2857.87,1219176.88,-30.42,-1.05,2889.692,2969.690,3033.086,1554581.30,1378739.49,1342337.45
2018-06-22,2855.58,2891.97,2889.76,2837.14,1261431.25,13.95,0.48,2922.204,2990.471,3047.184,1599811.08,1391510.03,1345684.02
2018-06-21,2912.00,2940.59,2875.81,2872.62,1543783.38,-39.92,-1.37,2953.084,3012.445,3060.429,1578463.80,1393151.88,1344655.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-09-12,3037.51,3040.95,3021.98,2999.93,2060120.88,-56.87,-1.85,3075.884,3074.235,3082.161,1744908.15,1604858.82,1740697.56
2016-09-09,3095.43,3101.79,3078.85,3078.22,1606929.25,-17.10,-0.55,3085.908,3079.040,3087.322,1622810.60,1543346.75,1786499.76
2016-09-08,3089.95,3096.78,3095.95,3083.90,1458837.75,4.02,0.13,3083.608,3078.186,3085.913,1602318.60,1532317.72,1790240.13
2016-09-07,3091.33,3105.68,3091.93,3087.88,1869567.62,1.22,0.04,3077.080,3075.424,3081.248,1620933.22,1560466.92,1798237.98
2016-09-06,3071.06,3095.51,3090.71,3053.19,1729085.25,18.61,0.61,3075.792,3074.819,3077.589,1529756.92,1519217.60,1787097.18
2016-09-05,3070.71,3085.49,3072.10,3065.33,1449633.12,4.75,0.15,3072.586,3074.719,3074.337,1464809.50,1507678.04,1785640.64
2016-09-02,3057.49,3072.53,3067.35,3050.49,1504469.25,4.04,0.13,3072.172,3075.990,3070.946,1463882.90,1548102.65,1791023.91
2016-09-01,3083.96,3088.70,3063.31,3062.88,1551910.88,-22.18,-0.72,3072.764,3080.065,3066.414,1462316.85,1592003.17,1786728.99
2016-08-31,3072.92,3087.70,3085.49,3063.40,1413686.12,10.81,0.35,3073.768,3084.145,3062.370,1500000.62,1666171.16,1776100.10
2016-08-30,3071.44,3082.99,3074.68,3065.97,1404348.12,4.65,0.15,3073.846,3086.551,3057.018,1508678.27,1738642.17,1775986.46
2016-08-29,3068.46,3074.94,3070.03,3058.79,1445000.12,-0.28,-0.01,3076.852,3090.087,3051.848,1550546.57,1876536.29,1763503.51
2016-08-26,3069.85,3087.65,3070.31,3063.89,1496639.00,1.98,0.07,3079.808,3095.604,3046.016,1632322.40,2029652.78,1764957.38
2016-08-25,3073.44,3073.44,3068.33,3041.51,1740329.75,-17.55,-0.57,3087.366,3093.640,3041.468,1721689.50,2048162.54,1765176.20
2016-08-24,3092.02,3097.15,3085.88,3079.55,1457074.38,-3.83,-0.12,3094.522,3087.071,3037.767,1832341.70,2036009.04,1773442.19
2016-08-23,3081.57,3101.11,3089.71,3073.53,1613689.62,4.90,0.16,3099.256,3080.358,3033.073,1968606.07,2054976.76,1840668.93
2016-08-22,3107.38,3112.74,3084.81,3083.59,1853879.25,-23.29,-0.75,3103.322,3073.955,3031.096,2202526.00,2063603.25,1838331.70
2016-08-19,3100.39,3113.34,3108.10,3082.77,1943474.50,3.99,0.13,3111.400,3065.902,3027.647,2426983.15,2033945.16,1817741.03
2016-08-18,3107.75,3125.58,3104.11,3093.32,2293590.75,-5.44,-0.17,3099.914,3052.762,3022.883,2374635.57,1981454.81,1801572.39
2016-08-17,3106.99,3114.25,3109.55,3090.28,2138396.25,-0.49,-0.02,3079.620,3040.594,3019.628,2239676.37,1886029.04,1768776.54
2016-08-16,3130.53,3140.44,3110.04,3102.07,2783289.25,-15.16,-0.48,3061.460,3027.485,3015.546,2141347.45,1813330.75,1730978.14
2016-08-15,3056.48,3137.48,3125.20,3053.87,2976165.00,74.53,2.44,3044.588,3013.609,3011.874,1924680.50,1650470.73,1669494.41
2016-08-12,3000.27,3051.05,3050.67,2999.04,1681736.62,48.03,1.60,3020.404,2996.428,3007.792,1640907.17,1500261.99,1609434.44
2016-08-11,3013.68,3038.05,3002.64,3001.17,1618794.75,-16.11,-0.53,3005.610,2989.295,3007.973,1588274.05,1482189.86,1611780.81
2016-08-10,3023.47,3033.20,3018.75,3017.09,1646751.62,-6.93,-0.23,3001.568,2988.463,3010.542,1532381.70,1510875.34,1620938.47
2016-08-09,3001.31,3025.91,3025.68,2998.68,1699954.50,21.40,0.71,2993.510,2985.788,3012.639,1485314.05,1626361.10,1665430.58
2016-08-08,2972.62,3004.72,3004.28,2959.05,1557298.38,27.58,0.93,2982.630,2988.237,3013.824,1376260.95,1613060.15,1710176.00
2016-08-05,2978.78,2991.68,2976.70,2971.56,1418571.00,-5.73,-0.19,2972.452,2989.392,3013.356,1359616.80,1601536.90,1744480.19
2016-08-04,2976.41,2982.86,2982.43,2958.93,1339333.00,3.97,0.13,2972.980,2993.004,3013.926,1376105.68,1621689.98,1758045.07
2016-08-03,2963.21,2981.16,2978.46,2956.79,1411413.38,7.18,0.24,2975.358,2998.662,3015.647,1489368.98,1651524.05,1802419.26
2016-08-02,2950.08,2971.28,2971.28,2946.64,1154689.00,17.89,0.61,2978.066,3003.606,3017.588,1767408.15,1648625.53,1838034.06

In [23]:
ts.get_k_data(code="sh",start="2016-08-02",end="2018-08-01")

           date     open    close     high      low       volume code
142  2016-08-02  2950.08  2971.28  2971.28  2946.64  115468900.0   sh
143  2016-08-03  2963.21  2978.46  2981.16  2956.79  141141332.0   sh
144  2016-08-04  2976.41  2982.43  2982.86  2958.93  133933301.0   sh
145  2016-08-05  2978.78  2976.70  2991.68  2971.56  141857101.0   sh
146  2016-08-08  2972.62  3004.28  3004.72  2959.05  155729833.0   sh
147  2016-08-09  3001.31  3025.68  3025.91  2998.68  169995446.0   sh
148  2016-08-10  3023.47  3018.75  3033.20  3017.09  164675165.0   sh
149  2016-08-11  3013.68  3002.64  3038.05  3001.17  161879481.0   sh
150  2016-08-12  3000.27  3050.67  3051.05  2999.04  168173657.0   sh
151  2016-08-15  3056.48  3125.20  3137.48  3053.87  297616506.0   sh
152  2016-08-16  3130.53  3110.04  3140.44  3102.07  278328934.0   sh
153  2016-08-17  3106.99  3109.55  3114.25  3090.28  213839637.0   sh
154  2016-08-18  3107.75  3104.11  3125.58  3093.32  229359081.0   sh
155  2016-08-19  3100.39  3108.10  3113.34  3082.77  194347453.0   sh
156  2016-08-22  3107.38  3084.81  3112.74  3083.59  185387927.0   sh
157  2016-08-23  3081.57  3089.71  3101.11  3073.53  161368965.0   sh
158  2016-08-24  3092.02  3085.88  3097.15  3079.55  145707440.0   sh
159  2016-08-25  3073.44  3068.33  3073.44  3041.51  174032980.0   sh
160  2016-08-26  3069.85  3070.31  3087.65  3063.89  149663901.0   sh
161  2016-08-29  3068.46  3070.03  3074.94  3058.79  144500007.0   sh
162  2016-08-30  3071.44  3074.68  3082.99  3065.97  140434811.0   sh
163  2016-08-31  3072.92  3085.49  3087.70  3063.40  141368609.0   sh
164  2016-09-01  3083.96  3063.31  3088.70  3062.88  155191093.0   sh
165  2016-09-02  3057.49  3067.35  3072.53  3050.49  150446920.0   sh
166  2016-09-05  3070.71  3072.10  3085.49  3065.33  144963317.0   sh
167  2016-09-06  3071.06  3090.71  3095.51  3053.19  172908524.0   sh
168  2016-09-07  3091.33  3091.93  3105.68  3087.88  186956763.0   sh
169  2016-09-08  3089.95  3095.95  3096.78  3083.90  145883771.0   sh
170  2016-09-09  3095.43  3078.85  3101.79  3078.22  160692924.0   sh
171  2016-09-12  3037.51  3021.98  3040.95  2999.93  206012086.0   sh
..          ...      ...      ...      ...      ...          ...  ...
600  2018-06-21  2912.00  2875.81  2940.59  2872.62  154378332.0   sh
601  2018-06-22  2855.58  2889.76  2891.97  2837.14  126143129.0   sh
602  2018-06-25  2903.45  2859.34  2908.62  2857.87  121917687.0   sh
603  2018-06-26  2829.99  2844.51  2850.24  2803.79  125918468.0   sh
604  2018-06-27  2842.40  2813.18  2854.26  2798.80  129420833.0   sh
605  2018-06-28  2799.90  2786.90  2825.99  2782.45  118357907.0   sh
606  2018-06-29  2789.81  2847.42  2848.37  2782.38  125671685.0   sh
607  2018-07-02  2841.58  2775.56  2845.68  2756.81  137035034.0   sh
608  2018-07-03  2774.57  2786.89  2786.89  2722.45  142498466.0   sh
609  2018-07-04  2776.63  2759.13  2793.18  2754.16  123262181.0   sh
610  2018-07-05  2755.34  2733.88  2777.52  2727.94  129226112.0   sh
611  2018-07-06  2731.35  2747.23  2768.87  2691.02  136294380.0   sh
612  2018-07-09  2752.45  2815.11  2815.79  2752.45  121549309.0   sh
613  2018-07-10  2819.71  2827.63  2828.49  2800.62  117062748.0   sh
614  2018-07-11  2780.70  2777.77  2794.36  2752.44  126821149.0   sh
615  2018-07-12  2771.04  2837.66  2844.19  2771.04  146980200.0   sh
616  2018-07-13  2831.43  2831.18  2835.46  2818.85  117689348.0   sh
617  2018-07-16  2827.08  2814.04  2837.51  2804.49  107767151.0   sh
618  2018-07-17  2806.89  2798.13  2806.92  2774.76  105409220.0   sh
619  2018-07-18  2801.78  2787.26  2818.40  2786.04  120961165.0   sh
620  2018-07-19  2791.02  2772.55  2805.01  2764.49  114486493.0   sh
621  2018-07-20  2769.75  2829.27  2837.86  2753.84  145907688.0   sh
622  2018-07-23  2815.20  2859.54  2863.57  2809.62  173382797.0   sh
623  2018-07-24  2862.27  2905.56  2911.46  2862.27  229578307.0   sh
624  2018-07-25  2911.45  2903.65  2912.31  2894.04  167800207.0   sh
625  2018-07-26  2905.79  2882.23  2915.30  2875.70  168428202.0   sh
626  2018-07-27  2879.69  2873.59  2889.69  2864.11  146371610.0   sh
627  2018-07-30  2871.94  2869.05  2896.01  2850.30  151652249.0   sh
628  2018-07-31  2866.90  2876.40  2884.68  2854.32  118931117.0   sh
629  2018-08-01  2882.51  2824.53  2897.40  2823.93  149514348.0   sh

[488 rows x 7 columns]