# tushare for python2

In [3]:
import tushare as ts

- 历史行情数据
- 复权历史数据
- 实时行情数据
- 历史分笔数据
- 实时报价数据
- 当日历史分笔
- 大盘指数列表
- 大单交易数据

In [17]:
# 历史行情
ts.get_hist_data('300676', start='2018-01-01', end='2018-07-31') #一次性获取全部日k线数据 
# failed

In [23]:
ts.get_k_data('300676')

           date     open    close     high      low    volume    code
0    2017-07-14   16.332   19.595   19.595   16.332      55.0  300676
1    2017-07-17   21.550   21.550   21.550   21.550      53.0  300676
2    2017-07-18   23.705   23.705   23.705   23.705      23.0  300676
3    2017-07-19   26.080   26.080   26.080   26.080      53.0  300676
4    2017-07-20   28.684   28.684   28.684   28.684      82.0  300676
5    2017-07-21   31.557   31.557   31.557   31.557     104.0  300676
6    2017-07-24   34.710   34.710   34.710   34.710     239.0  300676
7    2017-07-25   38.182   38.182   38.182   38.182     227.0  300676
8    2017-07-26   42.003   42.003   42.003   42.003     452.0  300676
9    2017-07-27   46.204   46.204   46.204   46.204     584.0  300676
10   2017-07-28   50.823   50.823   50.823   50.823     912.0  300676
11   2017-07-31   55.901   55.901   55.901   55.901    1261.0  300676
12   2017-08-01   61.488   61.488   61.488   61.488    1284.0  300676
13   2017-08-02   67.634   67.634   67.634   67.634     995.0  300676
14   2017-08-03   74.399   74.399   74.399   74.399    3714.0  300676
15   2017-08-04   81.841   81.841   81.841   81.841    5928.0  300676
16   2017-08-07   90.023   90.023   90.023   90.023    4979.0  300676
17   2017-08-08   99.022   99.022   99.022   99.022    4750.0  300676
18   2017-08-09  108.929  108.929  108.929  104.759  273958.0  300676
19   2017-08-10  106.934  106.155  114.616  104.958  202611.0  300676
20   2017-08-11  100.768   95.550  102.733   95.540  159086.0  300676
21   2017-08-14   96.976  103.062  105.058   96.128  107396.0  300676
22   2017-08-15  103.062  104.340  105.447  100.977   76008.0  300676
23   2017-08-16  103.462  114.775  114.775  103.392  123456.0  300676
24   2017-08-17  114.775  115.633  125.481  113.329  140077.0  300676
25   2017-08-18  112.750  119.385  120.582  110.106  102713.0  300676
26   2017-08-21  121.400  131.327  131.327  121.400  106125.0  300676
27   2017-08-22  133.702  128.404  136.346  127.207  111409.0  300676
28   2017-08-23  126.099  128.584  134.690  124.822   82455.0  300676
29   2017-08-24  127.706  120.732  130.160  120.722   94570.0  300676
..          ...      ...      ...      ...      ...       ...     ...
217  2018-06-20  104.000  107.960  109.800  103.500   14680.0  300676
218  2018-06-21  107.550  104.600  108.000  104.200   10668.0  300676
219  2018-06-22  104.500  109.940  111.550  103.500   16267.0  300676
220  2018-06-25  110.970  108.410  111.380  108.100    9835.0  300676
221  2018-06-26  105.510  110.320  111.180  105.000   11125.0  300676
222  2018-06-27  105.870  101.190  107.700  100.130   24152.0  300676
223  2018-06-28   99.600   92.300   99.740   91.880   29199.0  300676
224  2018-06-29   91.070   96.810   98.500   91.060   22203.0  300676
225  2018-07-02   96.000   96.370   98.620   95.000   17748.0  300676
226  2018-07-03   97.690  106.010  106.010   97.690   28138.0  300676
227  2018-07-04  106.930  107.400  112.580  106.660   35755.0  300676
228  2018-07-05  109.000   99.600  109.000   99.000   30357.0  300676
229  2018-07-06  100.010   99.130  102.300   96.100   23104.0  300676
230  2018-07-09   98.430  101.010  102.700   98.020   17213.0  300676
231  2018-07-10  101.870   99.970  101.900   98.750   14994.0  300676
232  2018-07-11   98.000   96.610   98.100   95.000   16816.0  300676
233  2018-07-12   98.340  102.350  104.380   98.200   26196.0  300676
234  2018-07-13  102.260  102.560  107.160  100.450   26855.0  300676
235  2018-07-16   92.300   92.300   92.300   92.300    9231.0  300676
236  2018-07-17   83.070   83.070   83.070   83.070    7566.0  300676
237  2018-07-18   76.500   82.980   87.000   76.500  214068.0  300676
238  2018-07-19   80.950   77.410   81.350   76.780   95234.0  300676
239  2018-07-20   78.090   78.860   79.470   76.800   57732.0  300676
240  2018-07-23   77.000   76.000   77.850   74.000   71338.0  300676
241  2018-07-24   77.810   80.230   81.680   76.830   98395.0  300676
242  2018-07-25   80.450   79.320   81.600   78.920   66864.0  300676
243  2018-07-26   79.610   78.880   81.100   78.520   53511.0  300676
244  2018-07-27   78.490   76.600   79.580   75.880   52434.0  300676
245  2018-07-30   77.010   74.190   77.550   73.560   45921.0  300676
246  2018-07-31   74.600   73.120   74.900   72.810   37563.0  300676

[247 rows x 7 columns]

In [18]:
# 复权数据
df = ts.get_stock_basics()
date = df.ix['600848']['timeToMarket'] #上市日期YYYYMMDD

In [21]:
df.ix['600848']

name                       上海临港
industry                   园区开发
area                         上海
pe                         90.9
outstanding                   4
totals                     11.2
totalAssets         1.39677e+06
liquidAssets        1.00801e+06
fixedAssets             12230.9
reserved                 423993
reservedPerShare           3.79
esp                        0.06
bvps                       5.87
pb                         3.69
timeToMarket           19940324
undp                     110493
perundp                    0.99
rev                      -19.95
profit                    19.21
gpr                       54.32
npr                       23.88
holders                   61764
Name: 600848, dtype: object

## 获取某家公司的财务信息

In [4]:
all = ts.get_stock_basics()
all.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3538 entries, 600225 to 000950
Data columns (total 22 columns):
name                3538 non-null object
industry            3538 non-null object
area                3538 non-null object
pe                  3538 non-null float64
outstanding         3538 non-null float64
totals              3538 non-null float64
totalAssets         3538 non-null float64
liquidAssets        3538 non-null float64
fixedAssets         3538 non-null float64
reserved            3538 non-null float64
reservedPerShare    3538 non-null float64
esp                 3538 non-null float64
bvps                3538 non-null float64
pb                  3538 non-null float64
timeToMarket        3538 non-null int64
undp                3538 non-null float64
perundp             3538 non-null float64
rev                 3538 non-null float64
profit              3538 non-null float64
gpr                 3538 non-null float64
npr                 3538 non-null float64
holders             3538 non-null float64
dtypes: float64(18), int64(1), object(3)
memory usage: 635.7+ KB

In [11]:
all.loc["300676"]

name                    华大基因
industry                医疗保健
area                      深圳
pe                     72.59
outstanding             2.47
totals                     4
totalAssets           504989
liquidAssets          369130
fixedAssets          77748.9
reserved              296826
reservedPerShare        7.42
esp                    0.252
bvps                   10.54
pb                      6.93
timeToMarket        20170714
undp                 80426.1
perundp                 2.01
rev                    33.13
profit                  6.71
gpr                    53.68
npr                    19.51
holders                37289
Name: 300676, dtype: object

# 存储为csv格式，在R中做下游分析

## 1.选出0.25、0.5、1、2年内每个股所处的价位比，比如如果某股在0.5年内处于（max-min）的0%，那它就是半年内一直跌
我比较喜欢那种已经大跌过，但现在开始启动行情的个股。

# 2.每个股票之间的相关性分析，以及其与大盘、外汇、外盘的相关性分析。找出一些股票模块。

# 3.根据财务指标对每个行业的个股进行排序，不碰行业的吊车尾。不碰有太多负债、恶性资产且没有盈利能力的公司。不碰即将解禁、做空势力大的股票（现在的华大）。

# 4.开发一款工具来检测启动/反势行情

# 5.最终肯定会筛选出一些个股，需要建立一套完善的个股评价标准，确定最终是否应该买入。

# 6.交易策略的历史验证

# 7.永远不要做纯粹主观的交易